<% layout("./layouts/boilerplate") %>
<style>
  .wishlist-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
</style>

<div class="container mt-4">
  <h2 class="text-center mb-4">❤️ My Wishlist</h2>

  <% if (listings.length === 0) { %>
    <div class="text-center mt-5">
      <h5>My wishlist is empty</h5>
      <a href="/listings" class="btn btn-danger mt-3">Explore Listings</a>
    </div>
  <% } else { %>

    <div class="row">
      <% listings.forEach(listing => { %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm h-100 wishlist-card">
            <img src="<%= listing.image.url %>" class="card-img-top">

            <div class="card-body text-center">
              <h5><%= listing.title %></h5>
              <p class="text-muted">
                <%= listing.location %>, <%= listing.country %>
              </p>
              <p class="fw-bold">
                ₹ <%= listing.price.toLocaleString("en-IN") %>
              </p>

              <a href="/listings/<%= listing._id %>" class="btn btn-outline-dark btn-sm w-100 mb-2">
                View Listing
              </a>

              <form action="/wishlist/<%= listing._id %>" method="POST">
                <button class="btn btn-outline-danger btn-sm w-100">
                  Remove ❤️
                </button>
              </form>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

  <% } %>
</div>

